// COLOURS

$colour-white: #fff;
$colour-black: #000;

$colour-grey--body: #ebf1f1;

$colour-blue: #1a4d9e;
$colour-blue--light: #0e6cff;

$colour-cyan: #2d56ce;

$colour-navy: #01245b;

$colour-grey--light: #f4f4f4;
$colour-grey: #e2e2e2;
$colour-grey--dark: #c6cfcf;
$colour-txt: #4a4a4a;

$colour-yellow: #fed154;

$colour-red: #fd2044;

$colour-green: #39E09B;

$colour-orange: #f77614;